.fullbody {
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    width: 100%
}

label, p, span {
    color: black
}

.tran-container {
    border: 1px solid lightgray;
    padding: 5px 30px;
    margin-bottom: 10px;
    cursor: pointer
}
.transactions {
    width: 100%;
}

.issaexpense {
    color: #D83E0F !important;
}

.issaearning {
    color: #0080B9 !important;
}
hr {
    margin: 5px 0 !important
}
* {
    font-size: 0.98em
}