<div class="fullbody uk-flex">
  <div class="uk-align-center" style="width: 60%; padding-top: 100px">
    <h5 style="color: #707070 !important">HIST&Oacute;RICO DE TRANSACCIONES (<button class="uk-button-link uk-button" (click)="goBackInTime()">Volver</button>)</h5>
    <div class="transactions" *ngFor="let t of transactions">
      <div class="tran-container" uk-toggle="target: #my-id" (click)="showInfo(t)">
        <div class="uk-flex uk-flex-between">
          <label>{{t.title}}</label>
          <label>{{t.date}}</label>
        </div>
        
        <hr>
        <div class="uk-flex uk-flex-between">
          <label style="color: gray">{{t.username}}</label>
          <label [ngClass]="t.transactionType == 'debit' ? 'issaearning' : 'issaexpense'">{{t.transactionType == 'credit' ? '-' : ''}}{{cashify(t.amount)}}</label>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div id="my-id" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <th>Información</th>
      <table class="uk-table uk-table-divider uk-table-justify">
        <tbody>
            <tr>
                <th class="uk-width-1-3">Título</th>
                <td class="uk-width-2-3">{{currentTransaction.title}}</td>
            </tr>
            <tr>
                <th>No. Factura</th>
                <td>{{currentTransaction.checkNumber}}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td [ngClass]="currentTransaction.transactionType == 'debit' ? 'issaearning' : 'issaexpense'">{{currentTransaction.transactionType == 'credit' ? '-' : ''}}{{cashify(currentTransaction.amount)}}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{currentTransaction.date}}</td>
            </tr>
            <tr>
                <th>Creado por</th>
                <td>{{currentTransaction.username}}</td>
            </tr>
            <tr>
                <th class=" uk-table-middle">Notas</th>
                <td>{{currentTransaction.notes || 'No hay notas'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="uk-flex uk-flex-center" style="width: 100%;">
      <p uk-margin>
        <button type="button" (click)="delete()" class="uk-button uk-margin-right uk-button-danger">{{deleteButtonText}}</button>
        <button type="button" class="uk-button uk-button-primary uk-modal-close">Cerrar</button>
      </p>
    </div>
    
  </div>
</div>
<button type="button" hidden routerLink="/home/register" class="uk-button uk-button-secondary register-router">Ver hist&oacute;rico</button>