<nav class="uk-navbar-container uk-navbar-transparent myheader" uk-navbar>
  <div class="uk-navbar-right">
    <label>{{name}} | </label>
    <button class="uk-button-link uk-button" style="margin-right: 120px" (click)="logout()">Cerrar sesi&oacute;n</button>
    <button class="uk-button-link uk-button leave-home" hidden style="margin-right: 120px" routerLink="/">Cerrar sesi&oacute;n</button>
  </div>
</nav>
<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
  <div>
    <div class="fullbody lider uk-flex-middle uk-flex uk-flex-column">
      <div class="container-of-all uk-flex uk-flex-middle uk-flex-around uk-flex-column">
        <div class="total-container idunno uk-flex uk-flex-column">
          <label style="color: #a8a8a8">PRESUPUESTO ACTUAL</label>
          <label class="amount amount-total" [ngClass]="rawTotalBudget < 0 ? 'negative' : 'positive'">{{totalBudget}}</label>
          <div class="uk-flex uk-flex-row uk-flex-center">
            <div class="uk-margin-right uk-flex uk-flex-column">
              <label style="color: #a8a8a8">INGRESOS TOTALES</label>
              <label class="amount amount-earnings">{{totalIncome}}</label>
            </div>
            <div class="uk-flex uk-flex-column">
              <label style="color: #a8a8a8">GASTOS TOTALES</label>
              <label class="amount amount-expenses">{{totalExpenses}}</label>
            </div>
          </div>
          <div style="padding-top: 10px">
            <button type="button" uk-toggle="target: #register" class="uk-button uk-button-secondary">Registrar transacci&oacute;n</button>
            <button type="button" hidden routerLink="/home/transactions" class="uk-button uk-button-secondary transactions-router">Ver
              hist&oacute;rico
            </button>
          </div>

        </div>
        <div class="chartContainer idunno uk-margin">
          <label>MOVIMIENTOS DE LOS ÚLTIMOS 7 DÍAS</label>
          <canvas height="100" width="250" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>

      </div>
    </div>
  </div>
  <div style="max-height: 100vh">
    <div class="fullbody uk-flex">

      <div class="uk-align-center" style="width: 60%; padding-top: 100px">
        <div style="width: 100%; text-align: right">
          <img uk-toggle="target: #filters" title="Filtrar" src="../../assets/filters.png" style="cursor: pointer">
        </div>
        <!--<h4 style="color: black !important">HIST&Oacute;RICO DE TRANSACCIONES</h4>-->
        <h6 style="color: #707070 !important; margin-top: 0;">INGRESOS</h6>
        <!-- <div *ngIf="debits != null && debits.length == 0">
          <p style="font-size: 1.3rem">No hay ingresos</p>
        </div> -->
        <table class="uk-table uk-table-middle uk-table-divider uk-table-hover" style="text-align: left">
          <thead>
            <tr>
              <th class="uk-table-shrink">Fecha</th>
              <th class="uk-table-expand">Concepto</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of debits" style="cursor: pointer" uk-toggle="target: #my-id" (click)="showInfo(t)">
              <td class="uk-width-small" style="text-align: left">{{t.date}}</td>
              <td style="text-align: left">{{t.title}}</td>
              <td><strong>{{cashify(t.amount)}}</strong></td>
            </tr>
          </tbody>
        </table>
        <!--<div class="transactions" *ngFor="let t of debits">
          <div class="tran-container" uk-toggle="target: #my-id" (click)="showInfo(t)">
            <div class="uk-flex uk-flex-between">
              <label class="uk-width-3-5@m" style="text-align: left;">{{t.title}}</label>
              <label class="uk-width-2-5@m uk-flex uk-flex-middle" style="text-align: right; display: grid">{{t.date}}</label>
            </div>

            <hr>
            <div class="uk-flex uk-flex-between">
              <label style="color: gray">{{t.username}}</label>
              <label [ngClass]="t.transactionType == 'debit' ? 'issaearning' : 'issaexpense'">{{t.transactionType == 'credit'
                ? '-' : ''}}{{cashify(t.amount)}}</label>
            </div>
          </div>

        </div>-->
        <!--Separa aquí-->
        <h6 style="color: #707070 !important; margin-top: 0;">GASTOS</h6>
        <!-- <div *ngIf="credits != null && credits.length == 0">
          <p style="font-size: 1.3rem">No hay gastos</p>
        </div> -->
        <table class="uk-table uk-table-middle uk-table-divider uk-table-hover" style="text-align: left">
          <thead>
            <tr>
              <th class="uk-table-shrink">Fecha</th>
              <th class="uk-table-expand">Concepto</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of credits" style="cursor: pointer" uk-toggle="target: #my-id" (click)="showInfo(t)">
              <td class="uk-width-small" style="text-align: left">{{t.date}}</td>
              <td style="text-align: left">{{t.title}}</td>
              <td><strong>{{cashify(t.amount)}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="my-id" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <th>Información</th>
        <table class="uk-table uk-table-divider uk-table-justify">
          <tbody>
            <tr>
              <th class="uk-width-1-3">Título</th>
              <td class="uk-width-2-3">{{currentTransaction["title"]}}</td>
            </tr>
            <tr>
              <th>No. Factura</th>
              <td>{{currentTransaction["checkNumber"]}}</td>
            </tr>
            <tr>
              <th>Monto</th>
              <td [ngClass]="currentTransaction['transactionType'] == 'debit' ? 'issaearning' : 'issaexpense'">{{cashify(currentTransaction["amount"])}}</td>
            </tr>
            <tr>
              <th>Fecha</th>
              <td>{{currentTransaction["date"]}}</td>
            </tr>
            <tr>
              <th>Creado por</th>
              <td>{{currentTransaction["username"]}}</td>
            </tr>
            <tr>
              <th class=" uk-table-middle">Notas</th>
              <td>{{currentTransaction["notes"] || 'No hay notas'}}</td>
            </tr>
          </tbody>
        </table>
        <div class="uk-flex uk-flex-center" style="width: 100%;">
          <p uk-margin>
            <button type="button" (click)="delete()" class="uk-button uk-margin-right uk-button-danger">{{deleteButtonText}}</button>
            <button type="button" class="uk-button uk-button-primary uk-modal-close">Cerrar</button>
          </p>
        </div>

      </div>
    </div>
    <div id="register" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <th>Registrar transacci&oacute;n</th>
        <div class="uk-align-center">
          <div style="background-color: white;">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <div class="input-container">
                <select class="uk-select" [ngModel]="'debit'" name="transactionType">
                  <option [ngValue]="'debit'" selected>Depósito</option>
                  <option [ngValue]="'credit'">Retiro</option>
                </select>
              </div>
              <div class="input-container">
                <input required class="uk-input" maxlength="30" ngModel name="checkNumber" type="text" placeholder="No. de Factura">
              </div>
              <div class="input-container">
                <input required class="uk-input" maxlength="15" ngModel name="amount" type="text" placeholder="Monto">
              </div>
              <div class="input-container">
                <input required class="uk-input" maxlength="50" ngModel name="title" type="text" placeholder="Concepto">
              </div>
              <div class="input-container">
                <textarea style="resize: none" maxlength="100" ngModel name="notes" class="uk-textarea" rows="5" placeholder="Notas (opcional)"></textarea>
              </div>
              <p style="text-align: center" uk-margin>
                <button type="reset" class="uk-button uk-margin-right uk-button-secondary reset-form">Borrar datos</button>
                <button type="submit" class="uk-button uk-button-primary">Guardar</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="filters" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <th>Filtrar datos</th>
        <form #m="ngForm" (ngSubmit)="onFilter(m)">
          <table class="uk-table uk-table-justify">
            <tbody>
              <tr>
                <th class="uk-width-1-3">Tipo de transacción</th>
                <td class="uk-width-2-3">
                  <select [ngModel]="'any'" name="tType">
                    <option [ngValue]="'any'">Todos</option>
                    <option [ngValue]="'debit'">Ingresos</option>
                    <option [ngValue]="'credit'">Gastos</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="uk-width-1-3">Monto</th>
                <td class="uk-width-2-3 ">
                  <div style="width: 90%" class="uk-flex uk-flex-row uk-flex-between">
                    <select id="amount" [ngModel]="'any'" name="comparison">
                      <option [ngValue]="'any'">Todos</option>
                      <option [ngValue]="'greater'">Mayor que</option>
                      <option [ngValue]="'less'">Menor que</option>
                    </select>
                    <input ngModel name="amountValue" id="amountValue" class="uk-input" [disabled]="true" placeholder="Valor" style="margin-left: 10px">
                  </div>

                </td>
              </tr>
              <tr>
                <th class="uk-width-1-3">Mes y año</th>
                <td class="uk-width-2-3 ">
                  <div style="width: 90%" class="uk-flex uk-flex-row uk-flex-between">
                    <select [ngModel]="0" id="month" name="month">
                      <option [ngValue]="0">Todos</option>
                      <option *ngFor="let m of months" [ngValue]="m">{{monthLabels[m-1]}}</option>
                    </select>
                    <select [ngModel]="0" id="year" name="year" style="margin-left: 10px">
                      <option [ngValue]="0">Todos</option>
                      <option *ngFor="let y of years" [ngValue]="y">{{y}}</option>
                    </select>
                  </div>

                </td>
              </tr>

            </tbody>
          </table>
          <p style="text-align: center" uk-margin>
            <button type="button" class="uk-button uk-margin-right uk-button-secondary" (click)="resetFilters()">Restablecer</button>
            <button type="reset" hidden id="resetFilterForm" class="uk-button uk-margin-right uk-button-secondary">klk</button>
            <button type="submit" class="uk-button uk-button-primary">Aplicar</button>
          </p>
        </form>

      </div>
    </div>
    <button type="button" hidden routerLink="/home/register" class="uk-button uk-button-secondary register-router">Ver hist&oacute;rico</button>
  </div>
</div>